.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.side-header{
  width: 187px;
  border-right: 1px solid wheat;
  box-shadow: #282c34;
}
.sd-bg{
  background-color: #f44336;
}
.header-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item{
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  cursor: pointer;
}
.item:hover{
  width: 100%;
  background-color: whitesmoke;
}
.header{
  width: 100vw;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 8px ;
  color: white;
  font-size: 32px;
  font-weight: 500;
  background-color: #f44336;
}
.pokemon-card{
  display: flex;
  /* flex-direction: ; */
}